apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: activemq
  labels:
    managed-by: deploy.py
spec:
  storageClassName: standard
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: "{{ activemq_data_size_GB }}G"
